@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}




.container {
  @apply xl:max-w-7xl w-full mx-auto px-4

}

.header {

  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  
  &__title {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 3rem;
  }
  
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }
}

.navbar {
  position: absolute;
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  
  &_scrolled {
    position: sticky;
    background-color: #eef9ff;
    animation-name: fadeInUp;
    animation-duration: 1s;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__brand {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    transition: all .09s ease-out;
    
    &:hover {
      color: coral;
    }
  }
  
  &__nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    
    li {
      display: inline-block;
      
      a {
        padding: 7px;
        color: #fff;
        opacity: 0.7;
        text-decoration: none;
        font-weight: 400;
        transition: all .09s ease-out;
        
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}


/* .text-block {
  position: relative;
  height: 860px;
  display: flex;
  margin: -60px 0 0 380px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  max-width: 1024px;
}

 */



.animated_circle {
  
  background-color: #eef9ff;
  animation-name: circleEffect;
  animation-duration: 1s;
}

.rectanglePolygon {
  background-color: rgb(38, 38, 241);
  clip-path: polygon(0 0, 100% 0, 100% 46%, 0 71%);

}



.hero-block {
  z-index: -10;
  width: 100%;
  height: 600px;
  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  transform: skewY(-12deg);
  transform-origin: 0;
  position: absolute;
  top: 0;

  span {
    height: 190px;
    position: absolute;
  }
  span:nth-child(1) {
    width: 33.3%;
    width: calc(100%/3);
    left: -16.66666%;
    left: calc(calc(calc(100% / 3)/2) * -1);
    background: #53f;
  }
  span:nth-child(2) {
    width: 33.33%;
    width: calc(100% /3);
    top: 0;
    left: 16.66666%;
    left: calc(calc(100% / 3) / 2);
    right: auto;
    background: #4553ff;
  }
  span:nth-child(3 ) {
    width: 33.33%;
    width: calc(100% /3);

    left: 49.999999%;
    left: calc(calc(calc(100% / 3) / 2) + calc(100% / 3));
    bottom: auto; 
    background: #4f40ff;
  }
}






@keyframes circleEffect {
  from {
    clip-path: circle(100px at 91% 9%);
  }
  to {
    clip-path: circle(1900px at 91% 9%);
  }
}

@keyframes fadeInUp {
  from {

    top: -50px;
  }
  
  to {

    top: 0;
  }
}
